* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  background-color: #1e263b;
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Espacio entre el tablero y los controles */
}

#game-board {
  display: grid;
  grid-template-columns: repeat(8, 40px);
  grid-template-rows: repeat(8, 40px);
  gap: 2px;
}

.cell {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border: 1px solid #080808;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
}

.cell.revealed {
  background-color: #08da24;
  cursor: default;
}

.cell.mine {
  background-color: red;
  color: white;
}

.cell.number {
  background-color: #ddd;
}

#controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Espacio entre los botones y el contador */
}

#scoreboard {
  color: white;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}
